/*清除浮动*/
.clearfix:before,
.clearfix:after{
    content: " ";
    display: inline-block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix{
    zoom: 1;
}
.position-all{
    background: #ebebeb !important;
    font-size: 14px;
    color: #333;
    height: 100%;
    width: 100%;
}
.position-list{
    /*background-color: #f5f5f5;*/
    /*padding-bottom: 8px;*/
}
.position-title{
    padding:8px 0;
    margin-left:15px;
}
.position-box{
    background:#F5F5F5;
    box-sizing: border-box;
    /*padding:5px 15px 5px 0;*/
    margin-right:20px;
}
.position-info{
    /*width:25%;*/
    /*height:5%;*/
    display:inline-block;
    /*background:#fff;*/
    /*margin-left:15px;*/
    /*!*padding:8px 30px;*!*/
    /*border:1px solid #F0F0F0;*/
    border-radius:5px;
    /*margin-bottom:10px;*/
    width: auto;
    min-width: 25%;
    padding: 0 20px;
    /*float: left;*/
    background: #fff;
    /*width: 29%;*/
    height: 33px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 4%;
    /*padding: 0 4px;*/
    border: 1px solid #e6e6e6;
    /*border-radius: 3px;*/
    line-height: 33px;
    text-align: center;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.position-box-two{
    background:#F5F5F5;
    box-sizing: border-box;
    margin-right:15px;
    overflow: hidden;

}
.position-each{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:85%;
    /*height:10%;*/
    padding:0 0 10px 0;
    margin-left: 4%;
    /*padding:10px;*/
    border-bottom:1px solid #8e8e8e;
}
.position-right{
    position:fixed;
    right:5px;
    top:100px;
    font-size:12px;
    height:100%;
    text-align: center;
}
