.App {
  /*text-align: center;*/

}

.App-link {
  color: #696969;
  text-decoration: none;
  text-align: center;
}
.App-active{
  color: #F03D37;
}

.navbottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  border-top: .5px solid #d8d8d8;
  display: flex;
  justify-content: space-around;
  z-index: 100;
  padding: 10px 0 5px 0;
  font-size: 10px;
}
